<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rivchain.cuplink">

    <!-- Backup Import/Export -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.rivchain.cuplink.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="org.rivchain.cuplink.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.rivchain.cuplink.QRShowActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.rivchain.cuplink.QRScanActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="org.rivchain.cuplink.MainService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|camera|microphone|mediaPlayback"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="org.rivchain.cuplink.StartActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.rivchain.cuplink.CallActivity"
            android:screenOrientation="portrait" />
        <activity android:name="org.rivchain.cuplink.SettingsActivity" />
        <activity android:name="org.rivchain.cuplink.AboutActivity" />
        <activity android:name="org.rivchain.cuplink.AddressActivity" />
        <activity android:name="org.rivchain.cuplink.LicenseActivity" />
    </application>

</manifest>